@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.artWrap{
    height: 70vh;
    width: 98.5vw;
    display: flex;
  
}
.imgWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 
}
.details{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.details h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold
}
.details p{
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 20px;
    text-transform: capitalize;
    color: #3A4D39;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.artImg{
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    margin-left: 20%;
}