html {
  font-size: 14px;

}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;


}

.nav-link:hover{
  font-size: 14.2px;

}


.header {
  width: 100vw;
  height: 40vh;
  color: white;
  background-color: #586358;
  background-image: url('./images/Handicrafts-of-India.webp');
  background-blend-mode: overlay;
  background-position: right;
  text-transform: capitalize;

}


.inne-header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #0b0b0b;
  height: 40vh;
  width: 100%;
  backdrop-filter: blur(2px);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  word-spacing: 10px;
  letter-spacing: 3px;


}
.navbar{
  background-color: #293128;
 
}


.logoWrap {
  margin-left: 5%;
  padding: 6%;
  box-shadow: 1px 1px 20px #0b0b0b;
  background-image: url('./images/logo.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}